{% extends "main_app/layout.html" %}
{% load static %}
{% block body %}


<div id="main_div" class="row py-15">
	<!-- Column 1 -->
	<div class="col-sm-8 col-lg-7 border-left px-10">

		<!-- Profile Banner -->
		<div id="profile_banner" class="my-5">
			<!-- Profile Avatar -->

			<img 
				class="avatar mr-15" 
				src="{% static 'main_app/images/' %}{{ user.avatar }}.svg" 
				alt="Avatar"
			>
			<!-- Profile Status -->
			<div id="profile_stats">
				<h6 class="border-bottom">
					{{ user.nickname }}, Level {{ user.level }}
				</h6>

				<!-- Health bar -->
				<small id="health">
					Health 
					{{ user.health_current }}/{{ user.health_max }}
				</small>
				<div class="progress">
					<div 
						class="progress-bar bg-danger" role="progressbar" 
						style="width: {{ hp_percent }}%" 
						aria-valuenow={{ user.health_current }} 
						aria-valuemin="0" aria-valuemax={{ user.health_max }}
					>
					</div>
				</div>

				<!-- Exp Bar -->
				<small id="exp">
					Exp 
					{{ user.exp_current }}/{{ user.exp_next }}
				</small>
				<div class="progress">
					<div 
						class="progress-bar bg-indigo" role="progressbar" 
						style="width: 10%" aria-valuenow={{ user.exp_current }} 
						aria-valuemin="0" aria-valuemax={{ user.exp_next }}
					>
					</div>
				</div>
			</div>
		</div>

		<!-- Task -->
		<h3>Tasks</h3>
		<!-- Tab Links -->
		<div id="tabs">
			<button id="todos-tab" class="tablinks active" 
				onclick="openTab('todos')"
			>
				Todos
			</button>
			<button id="habits-tab" class="tablinks" 
				onclick="openTab('habits')"
			>
				Habits
			</button>
			<button id="dailies-tab" class="tablinks" 
				onclick="openTab('dailies')"
			>
				Dailies
			</button>
		</div>
		<!-- Tab Contents -->
		<div id="todos" class="tabcontent">
			<!-- Button for adding a todo -->
			<div class='my-5 text-center add-item'>
				<button
					type='button'
					onclick='window.location.href="#add-todo-modal"'
					class='btn bg-gray-light w-full'
					id='add-todo-btn'
				>
					<i class='far fa-plus-square'></i>
					Add a Todo
				</button>
			</div>

			<div id="todo-items">
				<!-- To be filled using react -->
			</div>
		</div>
		<div id="habits" class="tabcontent">Habits</div>
		<div id="dailies" class="tabcontent">Dailies</div>
		
	</div>
	<!-- Column 2 -->
	<div class="col-sm-4 col-lg-5 border-left px-10">
		<h3>Rewards</h3>
		<div class="mb-3 border-bottom">
			<div>
				You have 100 <i class="fas fa-coins"></i>
			</div>
		</div>
		<div class="row">
				<div class="card">
					<img 
						class="avatar bg-yellow" 
						src={% static 'main_app/images/food.svg' %} alt="Food"
					>
					<div class="card-body pb-5 px-10">
						<small class="text-indigo">Food (10HP)</small>
						<small>75 <i class="fas fa-coins"></i></small>
					</div>
				</div>
				<div class="card">
					<img 
						class="avatar" 
						src={% static 'main_app/images/potion.svg' %} alt="Potion"
					>
					<div class="card-body pb-5 px-10">
						<small class="text-indigo">Potion (40 HP)</small>
						<small>300 <i class="fas fa-coins"></i></small>
					</div>
				</div>
				<div class="card">
					<img 
						class="avatar" 
						src={% static 'main_app/images/orc.svg' %} alt="Orc"
					>
					<div class="card-body pb-5 px-10">
						<small class="text-indigo">Orc Avatar</small>
						<small>500 <i class="fas fa-coins"></i></small>
					</div>
				</div>
				<div class="card">
					<img 
						class="avatar" 
						src={% static 'main_app/images/elf-girl.svg' %} alt="Elf"
					>
					<div class="card-body pb-5 px-10">
						<small class="text-indigo">Elf Avatar</small>
						<small>850 <i class="fas fa-coins"></i></small>
					</div>
				</div>
				<div class="card">
					<img 
						class="avatar" 
						src={% static 'main_app/images/grim-reaper.svg' %} alt="Reaper"
					>
					<div class="card-body pb-5 px-10">
						<small class="text-indigo">Reaper Avatar</small>
						<small>2500 <i class="fas fa-coins"></i></small>
					</div>
				</div>
		</div>
	</div>
</div>

<!-- JS -->
<script src={% static 'main_app/js/tabNav.js' %}></script>
<script src={% static 'main_app/js/main.js' %}></script>
{% endblock %}
