{% extends "main_app/layout.html" %}
{% load static %}
{% block body %}

<div id="main_div" class="row py-15">
	<!-- Column 1 -->
	<div class="col-sm-8 col-lg-7 border-left px-10">

		<!-- Profile Banner -->
		<div id="profile_banner" class="my-5">
			<!-- Profile Avatar -->
			<img 
				class="avatar mr-15" 
				src="{% static 'main_app/images/' %}{{ user.avatar }}.svg" 
				alt="Avatar"
			>
			<!-- Profile Status -->
			<div id="profile_stats">
			</div>
		</div>

		<!-- Task -->
		<h3>Tasks</h3>
		<!-- Tab Links -->
		<div id="tabs">
			<button id="todos-tab" class="tablinks active">
				Todos
			</button>
			<button id="habits-tab" class="tablinks">
				Habits
			</button>
			<button id="dailies-tab" class="tablinks">
				Dailies
			</button>
		</div>

		<!-- Tab Contents -->
		<div id="todos" class="tabcontent">
			<!-- Button for adding a todo -->
			<div class='my-5 text-center add-item'>
				<button
					type='button'
					onclick='halfmoon.toggleModal("add-todo-modal")'
					class='btn bg-gray-light w-full'
					id='add-todo-btn'
				>
					<i class='far fa-plus-square'></i>
					Add a Todo
				</button>
			</div>
			<div id="todo-items">
				<!-- To be filled using react -->
			</div>
		</div>
		<div id="habits" class="tabcontent">
			<!-- Button for adding a habit -->
			<div class='my-5 text-center add-item'>
				<button
					type='button'
					onclick='halfmoon.toggleModal("add-habit-modal")'
					class='btn bg-gray-light w-full'
					id='add-habit-btn'
				>
					<i class='far fa-plus-square'></i>
					Add a Habit
				</button>
			</div>
			<div id="habit-items">
				<!-- To be filled using react -->
			</div>
		</div>
		<div id="dailies" class="tabcontent">
			<!-- Button for adding a habit -->
			<div class='my-5 text-center add-item'>
				<button
					type='button'
					class='btn bg-gray-light w-full'
					id='add-dailies-btn'
				>
					<i class='far fa-plus-square'></i>
					Add a Daily Task
				</button>
			</div>
			<div id="dailies-items">
				<!-- To be filled using react -->
			</div>
		</div>
	</div>

	<!-- Column 2 -->
	<div class="col-sm-4 col-lg-5 border-left px-10">
		<h3>Rewards</h3>
		<div class="mb-3 border-bottom">
			<div>
				<!-- Player's Gold -->
				You have <span id='gold'></span> 
				<i class="fas fa-coins"></i>
			</div>
		</div>
		<div id="rewards" class="row">

			{% for item in rewards_list %}
				<div id={{ item.name }} class="card reward-item">
					<img 
						class="avatar bg-yellow"
						src="{% static 'main_app/images/' %}{{ item.name }}.svg" 
						alt={{ item.id }}
					>
					<div class="card-body pb-5 px-10">
						<small class="text-indigo">{{ item.text }}</small>
						{% if item.name == user.avatar %}
							<small>Equiped</small>
						{% elif item in rewards_owned %}
							<small>Owned</small>
						{% else %}
							<small>{{ item.price }} <i class="fas fa-coins"></i></small>
						{% endif %}
					</div>
				</div>
			{% endfor %}

		</div>
	</div>
</div>

<!-- hide pop-ups from the bottom of the page -->
<div id="alert-popup" class="bg-dark bg-white-lm shadow border">
	<span id="alert-popup-text"></span>
	<i class="ml-10 fas fa-times-circle dismiss-popup"></i>
</div>

<!-- JS -->
<script src={% static 'main_app/js/misc.js' %}></script>
<script src={% static 'main_app/js/main.js' %}></script>
{% endblock %}
