{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Habit50 RPG{% endblock %}</title>
	<!-- Halfmoon CSS -->
	<link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
	<!-- Halfmoon Customizations -->
	<link href="{% static 'main_app/theme.css' %}" rel="stylesheet">
	<!-- FontAwesome Icons -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
	<!-- Custom Styles -->
	<link href="{% static 'main_app/styles.css' %}" rel="stylesheet">
	{% block custom_head_items %}
	{% endblock %}
</head>
<body data-set-preferred-mode-onload="true">
	<!-- This area is for rendering modals -->
	<div id="hidden">
		<!-- Hidden by default -->
		<div id="add-todo"></div>
		<div id="edit-todo"></div>
	</div>

	<div class="container">
		<nav class="navbar pt-10">
			<a href="/" class="navbar-brand">
				<h4 class="font-weight-bold">
					<i class="fas fa-dragon"></i>
					Habit50 RPG
				</h4>
			</a>
			<button 
				class="btn btn-square ml-auto mx-5" 
				type="button" 
				onclick="halfmoon.toggleDarkMode()"
			>
				<i class="fas fa-moon"></i>
			</button>
			{% if user.is_authenticated %}
				<button 
					class="btn btn-square" 
					type="button" 
					onclick="document.location='/logout'"
				>
					<i class="fas fa-power-off"></i>
				</button>
			{% endif %}
		</nav>
		{% block body %}
		{% endblock %}
	</div>
	<!-- Halfmoon JS -->
	<script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
</body>
</html>
