{% extends "main_app/layout.html" %}
{% load static %}

{% block title %}Register{% endblock %}

{% block custom_head_items %}
<link rel="stylesheet" href="{% static 'main_app/forms.css' %}">
{% endblock %}

{% block body %}
<main class="form-signin">
	<form method="POST" action="/register">
		<h3 class="fw-normal">Create an Account</h3>
		<div class="mb-5">
			<label for="floatingInput">Username</label>
			<input type="text" name="username" class="form-control" id="floatingInput" placeholder="username">
		</div>
		<div class="mb-5">
			<label for="floatingInput">Nickname</label>
			<input type="text" name="nickname" class="form-control" id="floatingInput" placeholder="Nickname" maxlength="10">
		</div>
		<div class="mb-5">
			<label for="floatingPassword">Password</label>
			<input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password">
		</div>
		<div class="mb-10">
			<label for="floatingPassword">Confirm Password</label>
			<input type="password" class="form-control" name="confirmation" id="floatingPassword" placeholder="Password">
		</div>
		{% csrf_token %}
		<button class="w-100 btn btn-lg btn-secondary text-white" type="submit">Sign Up</button>
	</form>
</main>
{% endblock %} 

<div>
	<div>
		<div class="focused-div">
			Lorem ipsum.
		</div>
	</div>
</div>
