/* Profile Elements */
#profile_banner {
	display: flex;
}

#profile_stats {
	width: 100%;
	max-width: 240px;
}

.avatar {
	width: 110px;
	height: 110px;
	background-color: #a696a2;
	padding: 10px;
}

/* Tab navigation */
.tabcontent {
	display: none;
}

#todos {
	display: block;
}

#tabs {
	overflow: hidden;
	background-color: transparent;
}

#tabs > button {
	background-color: #dbdbdb;
	float: left;
	border: none;
	border-radius: 0;
	outline: none;
	padding: 10px 15px;
	cursor: pointer;
}

#tabs > button:hover {
	background-color: #d2d2d2;
}

#tabs > button.active {
	background-color: #bbbbbb;
}

.dark-mode #tabs > button {
	background-color: #494949;
	color: white;
}

.dark-mode #tabs > button:hover {
	background-color: #494949;
	color: var(--indigo-color-very-light);
}

.dark-mode #tabs > button.active {
	background-color: #292929;
}

.dark-mode .tabcontent {
	background-color: #292929;
}


.tabcontent {
	background-color: #bbbbbb;
	padding: 5px;
}


/* Rewards */
.fa-coins {
	color: #e87516;
}

.dark-mode .avatar {
	background-color: #5b5b5b;
}

.dark-mode .card {
	outline-color: var(--dark-color);
}


.card {
	padding: 0;
	margin: 10px;
	border: 0;
	outline: 1px solid #aaa;
}

.card-body small {
	display: block;	
}

@keyframes fadeIn {
	from {
		bottom: -20px;
		opacity: 0;
	}
	to {
		bottom: 50px;
		opacity: 1;
	}
}

#complete-popup {
	display: none;
	z-index: 1;
	position: fixed;
	margin-left: 30px;
	padding: 10px;
	bottom: 50px;
	border-radius: 10px;
	animation-name: fadeIn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.modal {
	position: fixed;
}

#complete-popup .dismiss-popup {
	cursor: pointer;
}

#complete-popup .dismiss-popup:hover {
	color: gray;
}

.reward-item {
	cursor: pointer;
}

body:not(.dark-mode) .reward-item:hover {
	box-shadow: var(--lm-large-shadow);
}

.dark-mode .reward-item:hover {
	box-shadow: var(--dm-large-shadow);
}

#reward-modal-content {
	display: flex;
	align-items: center;
}

#reward-modal-content img {
	width: 70px;
	margin-right: 8px;
}

/* Task Items */
.task-item {
	display: flex;
	background-color: #dfdfdf;
}

.dark-mode .task-item {
	background-color: #444;
}

.task-item .task-title {
	flex-grow: 1;
}

.task-item button {
	border-radius: 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	padding-left: 8px;
	padding-right: 8px;
}

/* Datetime Picker */
.dark-mode .rdtPicker {
	background-color: #1d1d1d;
	border: 1px solid #414141;
}

.dark-mode .rdtPicker td.rdtDay:hover {
	background-color: #575757;
}

.dark-mode .rdtPicker td.rdtActive {
	background-color: #0059a6;
}

.dark-mode .rdtPicker thead tr:first-of-type th:hover {
	background-color: #575757;
}

.dark-mode td.rdtMonth:hover,
.dark-mode td.rdtYear:hover {
	background-color: #575757;
}

.dark-mode .rdtPicker td.rdtHour:hover,
.dark-mode .rdtPicker td.rdtMinute:hover,
.dark-mode .rdtPicker td.rdtSecond:hover,
.dark-mode .rdtPicker .rdtTimeToggle:hover {
	background-color: #575757;
}

.dark-mode .rdtCounter .rdtBtn:hover {
	background-color: #575757;
}

