@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap');

:root {
	--navbar-height: 6rem;
	--white-bg-color: #ececec;
	--dark-color-light: #3b3b3b;
	--dark-color-dark: #313131;
	--primary-color: #205b7d;
	--primary-color-light: #287099;
	--primary-color-very-light: #3082b1;
	--primary-color-dark: #1a4964;
	--primary-color-very-dark: #133549;
	--primary-box-shadow-color: #696969;
	--primary-box-shadow-color-darker: #55535a;
	--text-color-on-primary-color-bg: white;

	--secondary-color: #349e89;
	--secondary-color-light: #3eb39b;
	--secondary-color-very-light: #45c9ae;
	--secondary-color-dark: #257968;
	--secondary-color-very-dark: #206859;
	--secondary-box-shadow-color: #757575;
	--secondary-box-shadow-color-darker: #575555;
	--text-color-on-secondary-color-bg: white;

	--container-xl-max-width: 1100px;
	--dm-button-bg-color: #4d4d4d;
	--lm-button-box-shadow-focus: 0 0 0 0.2rem #aaa;
	--dm-button-box-shadow-focus: 0 0 0 0.2rem #555;

	--lm-border-color: rgba(50, 50, 50, 0.16);
	--dm-border-color: rgba(250, 250, 250, 0.16);

	--label-margin-bottom: 0;
	--content-and-card-spacing: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Comfortaa', cursive;
}

body {
	font-family: 'Rubik', sans-serif;
}

.dark-mode .bg-warning {
	background-color: #c68000;
}

body:not(.dark-mode) .bg-warning {
	background-color: #ee881b;
}

body:not(.dark-mode) .text-teal {
	color: #0a7241 !important;
}

.dark-mode .text-teal {
	color: var(--teal-color-light);
}

body:not(.dark-mode) .bg-gray {
	color: white;
	background-color: #858585;
}

.dark-mode .bg-gray {
	color: white;
	background-color: #5d5d5d;
}

body:not(.dark-mode) .bg-gray-light {
	color: black;
	background-color: #f0f0f0;
}

.dark-mode .bg-gray-light {
	color: white;
	background-color: #5d5d5d;
}

/* Tab Navigation */
.dark-mode #tabs > button {
	background-color: #494949;
	color: white;
}

.dark-mode #tabs > button:hover {
	background-color: #494949;
	color: var(--indigo-color-very-light);
}

.dark-mode #tabs > button.active {
	background-color: #292929;
}

.dark-mode .tabcontent {
	background-color: #292929;
}

/* Rewards */
.text-indigo {
	color: var(--indigo-color-dark) !important;
}

.dark-mode .text-indigo {
	color: var(--indigo-color-very-light) !important;
}

.dark-mode .avatar {
	background-color: #5b5b5b;
}

.dark-mode .card {
	outline-color: var(--dark-color);
}

/* Profile Stats */
.dark-mode .bg-indigo {
	background-color: var(--indigo-color-light);
}

.bg-indigo {
	background-color: var(--indigo-color);
}




